<div class="col-xs-3" style="min-height: 1px"></div>
<div class="col-xs-3 operate-color">
    {:Hook('support',array('table'=>'weibo','row'=>$weibo['id'],'app'=>'Weibo','uid'=>$weibo['uid'],'jump'=>'weibo/index/weibodetail'))}
</div>
<div class=" col-xs-3 operate-color" data-role="weibo_comment_btn"  data-weibo-id="{$weibo.id}">
   <i class="os-icon-bubbles"></i> {$weiboCommentTotalCount}
</div>
<div class="col-xs-3 operate-color">
    <php>$sourceId =$weibo['data']['sourceId']?$weibo['data']['sourceId']:$weibo['id']; </php>
    <a title="{:L('_REPOST_')}"  data-role="send_repost"  href="{:U('Weibo/Index/sendrepost',array('sourceId'=>$sourceId,'weiboId'=>$weibo['id']))}"><i class="os-icon-share-alt"></i> {$weibo.repost_count}</a>
</div>